body{
	width: 100%;
	margin: 0;
	padding: 0;
	/*font-size: 17px;*/
	font-weight: 400;

}



@media (min-width: 768px) and (max-width: 1043px){
	h2{ font-size: 25px; }
	h3{ font-size: 23px; }
}

@media (min-width: 480px) and (max-width: 767px){
	h2{ font-size: 22px; }
	h3{ font-size: 20px; }
}

@media (max-width: 479px){
	h2{ font-size: 20px; }
	h3{ font-size: 18px; }
	
}

.brd{
	border: 1px solid black;
}

p{
	text-align: center;
}

/*nav.navbar.navbar-default {
    
}*/
nav.navbar.navbar-default {
	background-color:  #000;
    border-bottom:  transparent;
    opacity:  .5;
    /*color: white;*/
}
nav.navbar.navbar-default a{
	color: white;
}
.combined{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .9;
	color: white;
}

/*banner section*/
.sliderDiv{
}

.sliderHeadings{
}

.slider h2,
.slider h3{
	font-weight: 900;
}
.slider h3{
	margin-left: 50px;
}

.grayBox{
	width: 50%;
	background-color: #ACACAC;
	opacity: .8;
	padding: 10px 0;
	line-height: 1;
	margin-left: -7.75%;
	color: black;
	font-weight: 900;
}

@media (max-width: 767px){
	.grayBox{
		width: 58%;
	}
}

.timing{
	/*width: 50%;*/
	border: 5px solid #838383;
	padding: 10px;
	margin-bottom: 10px;
}

.timing h3{
	margin-left: -8px;
}


/*************************Services*************************88*/

.services{
	background-color: #fff;
}

.bgF2F2F2{
	background-color: #F2F2F2;
}
.bannerBottomService{
	display: inline-block;
	background-color: #fff;
	width: 20%;
	margin: 0 -2px;
	/*border: 1px solid black;*/
	position: relative;
}
.bannerBottomServiceText .button {
    font-size: 12px;
}

@media (min-width: 768px) and (max-width: 1043px){
	.bannerBottomService{
		width: 33%;
	}
}

@media (min-width: 480px) and (max-width: 767px){
	.bannerBottomService{
		width: 50%;
	}
}

@media (max-width: 479px){
	.bannerBottomService{
		width: 50%;
	}
}

.bannerBottomServiceText{
	padding: 10px;
	display: inline-block;
	width: 60%;
	/*border: 1px solid blue;*/
}


.bannerBottomService img{
	position: absolute;
	right: 0;
	width: 40%;
	height: 100%;
	/*border: 1px solid red;*/
}

.bannerBottomService p{
	text-align: left;
}

.button{
	padding: 4px 25px 4px 7px;
	background-color: #0372ba;
	border-radius: 10px;
	color: white;
	font-weight: 700;
	position: relative;
}

.rightArrow{
	position: absolute;
	top: 3px;
	right: 0px;

	width: 0;
	height: 0;

	border-top: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid white;
}


@media (max-width: 479px){
	.button{
		padding: 4px 8px 4px 5px;
		background-color: #0372ba;
		border-radius: 10px;
		color: white;
		font-weight: 700;
		position: relative;
	}

	.bannerBottomServiceText{
		width: 100%;
		box-shadow: 1px 1px 1px gray;
	}

	.bannerBottomService img{
		display: none;
	}

	.rightArrow{
		right: -9px;
	}
}

@media (min-width: 480px) and (max-width: 767px){
	.button{
		padding: 4px 25px 4px 7px;
		background-color: #0372ba;
		border-radius: 10px;
		color: white;
		font-weight: 700;
		position: relative;
	}
}

@media (min-width: 768px) and (max-width: 1023px){
	.button{
		padding: 4px 25px 4px 7px;
		background-color: #0372ba;
		border-radius: 10px;
		color: white;
		font-weight: 700;
		position: relative;
	}
}

@media (min-width: 1024px){
	.button{
		padding: 4px 25px 4px 7px;
		background-color: #0372ba;
		border-radius: 10px;
		color: white;
		font-weight: 700;
		position: relative;
	}
}



/*inboud*/
/*===============*/

.inbound{
	background-color: #F2F2F2;
	padding: 20px 0;
}

.dot {
	position: relative;
	color: #575757;
	text-align: center;

    width: 10%;
    margin: 0 auto;
}


@media (max-width: 480px){
	.dot{
		width: 22%;
	}	
}

@media (min-width: 481px) and (max-width: 767px){
	.dot{
		width: 15%;
	}	
}

@media (min-width: 768px) and (max-width: 1023px){
	.dot{
		width: 11%;
	}	
}

@media (min-width: 1024px){
	.dot{
		width: 8%;
	}	
}

.dot::before{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #575757;

	position: absolute;
	/*left: 47%;*/
	left: 0;
	top: 50%;
	transform: translateY(-50%);

}

.dot::after{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #575757;

	position: absolute;
	/*right: 47%;*/
	right: 0;
	top: 50%;
	transform: translateY(-50%);

}


.inboudText{

background-image: url(../images/heading-bg-lg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 90px;
    padding-top: 10px;
    /*width: 500px;*/
    /*border: 1px solid black;*/
    /* padding: 8px 0 10px; */
    /*border: 1px solid red;*/
}

.inboudText h2{
	text-align: center;
}

.inbound .button {
    /*margin-top: 29px;*/
    display:  block;
    width: 50%;
    margin: 0 auto
}

@media (min-width: 480px) and (max-width: 767px){
	.inbound .button {
		width: 35%;

	}
}

@media (max-width: 479px){
	.inbound .button {
		width: 30%;
	}
}

.inboundP p{
	padding: 10px;
}

/*Inbound Measurement*/
/*===========================*/

.facility{
	box-shadow: 4px 4px 2px gray;
	background-color: #F2F2F2;
}

.facility img{
	width: 100%;
}

.facility p{
		padding-bottom: 15px;
}
.woman{
/*	background-image: url(../images/inq-girl.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;*/

	border-bottom: 10px solid gray;
	position: relative;

}

.woman .womanImage{
	width: 100%;
	height: auto;
	object-fit: contain;
}


.circleBar{
	width: 707px;
	position: absolute;
	top: 200px;
	right: 0;
	margin-right: 50px;
}



.circleBar1 { 
	display: inline-block;
	width: 300px;
	/*border: 1px solid red;*/
}

.circleBar1 img,
.circleBar2 img {
    width: 30%;
}


.circleBar2 { 
	display: inline-block;
	width: 300px;
	margin-left: 100px;
	/*border: 1px solid red;*/
}


@media (max-width: 479px){

	.circleBar{
		top: 30px;
		width: 250px;
	}

	.circleBar1 { 
		width: 250px;
		margin-left: 50px;
	}

	.circleBar2 { 
		width: 250px;
		margin-left: 50px;
	}
}

@media (min-width: 480px) and (max-width: 767px){

	.circleBar{
		top: 30px;
		width: 250px;
	}

	.circleBar1 { 
		width: 250px;
		margin-left: 0px;
	}

	.circleBar2 { 
		width: 250px;
		margin-left: 0px;
	}
}

.price-list{
	padding: 10px 50px;
	background-color: #42a1c2;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	margin-left: -20px;
}

@media (max-width: 479px){
	.circleBar {
	    top: -70px;
	    left: 10px;
}
	.price-list{ padding: 5px 20px; }
	.circleBar1 img,
	.circleBar2 img {
	    width: 25%;
	}

	.woman{
		margin-top: 85px;
	}

}
@media (min-width: 480px) and (max-width: 767px){}
@media (min-width: 768px) and (max-width: 1023px){}

.inquiry{
	text-align: center;
}

/**********************strength****************/
/*=============================================*/

.circle{
	display: inline-block;
	width: 19%;
	text-align: center;
}

@media (max-width: 480px){
	.circle{
		width: 100%;
	}	
}

@media (min-width: 481px) and (max-width: 767px){
	.circle{
		width: 48%;
	}	
}

@media (min-width: 768px) and (max-width: 1023px){
	.circle{
		width: 30%;
	}	
}

@media (min-width: 1024px){
	.circle{
		width: 19%;
	}	
}

.circle img{
	width: 100%;
}
.circle p{
	/*text-align: center;*/
}

.strength{
	background-color: #fff;
}

@media (max-width: 479px){
	.circle img{
		width: 70%;
	}
}
@media (min-width: 480px) and (max-width: 767px){}
@media (min-width: 768px) and (max-width: 1023px){}

/*multilingual-lower*/
/*=========================*/

.multilingual-upper{
	background-color: #EEEEEE;
}

.multilingual-lower{
	clear: both;
	background-color: white;
	overflow: auto;
	position: relative;
	background-color: #F4F4F4;
}

.multilingual-lowerDiv {
    overflow: auto;
    padding:  50px 0;
}
.buttonView{
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	/*margin-top: -50px;*/
	z-index: 1;
	background-color: #0372ba ;
	padding: 10px 50px;
	border-radius: 5px;
	color: white;
	font-weight: 900;
}

@media (max-width: 479px){
	.buttonView{padding: 10px 10px;}
}
@media (min-width: 480px) and (max-width: 767px){}
@media (min-width: 768px) and (max-width: 1023px){}


.measure{
	box-shadow: 5px 5px 5px gray;
	overflow: auto;
	border-radius: 10px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	background-color: white;
}

/*.rowOne{
	margin-top: 50px;
}*/

.measure h3{
	color: #0372BA;
	float: left;
}
.measure p{
	font-size: 12px;
	text-align: left;
}

.measure a{
	float: right;
}

.measure .rightArrow{
	border-left: 9px solid #0372BA;
}

.measure .button {
    background-color:  transparent;
    color:  #337ab7;
}

/*************dtp*******************/

.dtp{
	overflow: auto;
}
.dtpHeadingTitle{
	background-image: url(../images/heading-bg-md.png);
}

.dtpTitle{
	width: 400px;
	background-color: #536277;
	color: white;
    /*display: inline-block;*/
    padding: 5px;
    margin: 40px auto 0;
    text-align: center;
    border-radius: 12px;
    position: relative;
}



.dtpTitle::after{
	content: "";
	width: 0;
	height: 0;
	border-top: 30px solid #536277;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid transparent;

	position: absolute;
	/*bottom: 0;*/
	/*left: 50%;*/
	transform: translateX(-50%);

}

@media (max-width: 480px){
	.dtpTitle{
		width: 260px;
	}	
}
/*
@media (min-width: 481px) and (max-width: 767px){
	.dtpTitle{
		width: 400px;
	}		
}

@media (min-width: 768px) and (max-width: 1023px){
	.dtpTitle{
		width: 400px;;
	}		
}

@media (min-width: 1024px){
	.dtpTitle{
		width: 400px;
	}	
}*/

.dtpBelow{
    clear: both;
}

.dtpBox {
	overflow: auto;
    margin-top: 40px;
}

.dtpBox div{
	margin-bottom: 10px;
}

.dtpBox img {
    width: 100%;
    box-shadow: 3px 3px 4px 0 #999;
}

/****************Qustion Answer***********************/

.qanswer{
	background-image: url(../images/q-a.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px;
}

.qa-upper .button{
	color: #616366;
	background-color: transparent;

}

.qa-upper .rightArrow {
    border-left: 9px solid blue;
}

.qaHeadingTitle h3{
	float: left;
}

.qaHeadingTitle a{
	float: right;
}

.line{
	width: 100%;
	height: 1px;
	background-color: #D2D2D2;
	/*border: 1px solid #D2D2D2;*/
	clear: both;
}


.letterCircleQ{
	padding: 15px;
	border-radius: 50%;
	background-color: #536277;

}

.letterCircleA{
	padding: 15px;
	border-radius: 50%;
	background-color: #0372BA;

	
}

.letterA{
	position: relative;
	border-radius: 10px;
	background-color: #0372BA;

}

.letterQ{
	position: relative;
	border-radius: 10px;
	background-color: #536277;
}

.barRightToCircle{
	position: relative;
	margin-bottom: 10px;
}

.letterA,
.letterQ{
	position: absolute;

	margin-left: 1px;
	/*left: -17px;*/
	left: 30px;
	display: inline-block;
	padding: 3px 10px;
	width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;

}

/*.letterA{
	background-color: #0372BA;
}
.letterQ{
	background-color: #536277;	
}*/



/***********************boxed services**************************/
.boxedService{
	width: 90%;
	margin: 20px auto;
	/*border: 1px solid red;*/
	overflow: auto;
}
.boxedService1{
	background-image: url(../images/promo-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding: 20px;
	width: 100%;
	margin-bottom: 10px;
	/*border: 1px solid red;*/
}

.serviceText{
	border: 2px solid gray;
	padding: 20px;
	/*width: 100%;*/
	margin: 5px auto;
}

.serviceText h3,
.serviceText p{
	text-align: center;
}
/***********************boxed services end**************************/


/******************dashed services*****************************/

.dashedServices{
	background-color: #F4F4F5;
}
.dashedService{
	position: relative;
	padding: 20px 0; 
}

.dashedServices ul{
	list-style: none;
	margin-top: 10px;
}

.dashedService::before{
	content: "";
	width: 30px;
	height: 3px;
	background-color: #595757;
	/*background-color: black;	*/

	position: absolute;
	left: 40px;
}

/******************dashed services*****************************/


/******************footerMain*****************************/
.footer{
	background-color: #F4F4F5;

}
.footerMain{
	border-top: 1px solid #D4D4D4;
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	overflow: auto;
}


.footerMain .footerLogo{
	padding-top: 30%;
	/*transform: translateY(-50%);*/
	width: 70%;
}

.footerMain ul{
	list-style: none;
	margin-left: -40px;
}

.footerMain ul li{
	text-align: left;
}

.footerMain p{
	text-align: left;
}

.aButton{
	display: inline-block;
	margin-left: 20px;
	padding: 7px 35px;
	background-color: #575757;
	color: white;
	border-radius: 5px;
	box-shadow: 5px 5px #000;
	font-weight: 900;
}

@media (max-width: 479px){
	.aButton{
		margin-bottom: 10px;
	}
}

.copyright p{
	text-align: center;
}